.container {
	display: flex;
}

.icon {
	fill: var(--text-color);
	margin-right: var(--spacing-small);
	margin-top: var(--spacing-small);
}

.label {
	font-size: 14px;
	line-height: 20px;
	margin-right: var(--spacing-small);
	margin-top: var(--spacing-small);
	text-transform: uppercase;
}

.input {
	background: none;
	border: none;
	border-radius: 1px;
	color: var(--rad-blue);
	font-size: 26px;
	padding-left: calc(var(--spacing-small) / 2);
	width: 32px;
}

.input:active, .input:focus {
	border: 1px solid var(--murk-gray);
	color: var(--cloud-gray);
	outline: none;
}

.input:hover {
	cursor: pointer;
}