.container {
	align-items: center;
	display: flex;
	padding: var(--spacing-small) var(--spacing-medium);
}

.icon {
	fill: var(--text-color);
}

.primary {
	font-size: 20px;
	line-height: 15px;
	margin: 0 0 3px;
	padding-left: var(--spacing-medium);
}

.secondary {
	color: var(--off-white);
	font-size: 15px;
	margin: 0;
	padding-left: var(--spacing-small);
}

.spacer {
	flex-grow: 1;
}

.batteryOk {
	fill: green;
}

.batteryLow {
	fill: red;
}