.modal {
	background-color: var(--modal-background-color);
	border-radius: 5px;
	height: calc(100% - (var(--spacing-large) * 2));
	margin: var(--spacing-large);
	padding: var(--spacing-medium);
	position: relative;
	width: calc(100% - (var(--spacing-large) * 2));
}

.title {
	margin-top: 0;
}

.closeIcon {
	fill: var(--text-color);
	position: absolute;
	right: var(--spacing-medium);
	top: var(--spacing-medium);
}

.closeIcon:hover {
	fill: var(--rad-blue);
}