.modal {
	background-color: var(--modal-background-color);
	border-radius: 5px;
	height: calc(100% - (var(--spacing-large) * 2));
	margin: var(--spacing-large);
	position: relative;
	width: calc(100% - (var(--spacing-large) * 2));
}