.icon {
	background-color: var(--text-color);
	border-radius: 50%;
	height: 50px;
	fill: var(--background-color);
	padding: var(--spacing-small);
	position: absolute;
	text-align: center;
	width: 50px;
}

.icon:hover {
	fill: var(--rad-blue);
}

.iconSettings {
	bottom: var(--spacing-medium);
	padding-top: calc(var(--spacing-small) + 2px);
	right: var(--spacing-medium);
}